
h1, h2 {
    font-family: "Baskerville";
    color: #fff;
}
h3, h4 {
    font-family: "Baskerville";
    color:#59697e;
}
h6 {
    font-family: "Baskerville";
    color:#59697e;
}
.logo {
    display: inline-block;
}
.navigation {
    display: inline-block;
}
ul.navigation li {
    font-family: "Baskerville";
    display:inline-block;
    color: #fff;
    padding-left: 10px;
    font-size: 30 px;
}
a {
    text-decoration:none;
    color: #fff;
    font-family: "Baskerville";
}
ul {
    list-style:none;
}
.container {
    float:center;
    margin-top: 20px;
}
ul.products {
    margin-left: 20px;
    float:left;
}
ul.products li {
    font-family: "Baskerville";
    display:inline-block;
}
ul.category {
    font-family: "Baskerville";
    color:#59697e;
}

.item {
    font-family: "Baskerville";
    width:260px;
    text-align:center;
}
.p-title {
    font-family: "Baskerville";
    float:left;
}
.wrap {
    text-align:center;
    width: 220px;
}
h6 {
    font-family: "Baskerville";
    margin-left: 100px;
}
p {
    font-family: "Baskerville";
    font-size:40px;
    color:#59697e;
}
#view {
    font-family: "Baskerville";
    text-align:right;
    font-size:40px;
    color:#59697e;
}
.filter {
    font-family: "Baskerville";
    height:1000px;
    width:240px;
    float:left;
    margin-left: 100px;
}
.row {
    width: 100%;
    max-width: 1260px;
    min-width: 755px;
    margin: 0 auto;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    overflow: hidden;
}
.realHeader {
    width: 100%;
    max-width: 1260px;
    min-width: 755px;
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    overflow: hidden;
}
.logo {
    margin-left: 100px;

}

#CatHomepage {
    width:1060px;
}